/*----------GRID-AREAS----------*/
header{
    grid-area: cabeza;
}

nav{
    grid-area: nav;
}

#section1{
    grid-area:section;
    background-color: rgb(64, 10, 214);
}

#section2{
    grid-area: destacado;
    background-color: rgb(46, 5, 158);
    
}

footer{
    grid-area: footer;
    background-color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}